{
  "nick": "yourIrcNickHere",
  "consumer_key": "",
  "consumer_secret": "",
  "access_token": "",
  "access_token_secret": "",
  "ranges": {
    "Department of Parliamentary Services": [
      ["164.75.0.0", "164.75.31.255"],
      ["202.14.81.0", "202.14.81.255"]
    ]
  }
}


